{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <style>
            .center {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            .container {
                background-color: #eee7dd;
            }
            .back-button {
                background-color: #a43f4c;
                color: #eee7dd;
            }
            .search-button {
                background-color: #b74451;
                color: #eee7dd;
            }
        </style>
    </head>
    <body class="container">
        <hr>
        <h1 style="text-align: center;">Search for Recipes by Ingredients</h1>
        <hr>
        <br>
        <br>
        <form class="center" action="" method="POST">
            {% csrf_token %}
            {{form}}
            <button type="submit" class="search-button">Search</button>
        </form>
        <br>
        <br>
        {% if recipes_df %}
            {{recipes_df|safe}}
            <br>
            <img class="center" src="data:image/png;base64, {{chart|safe}}">
        {% else %}
            <div style="text-align: center;">No data</div>
        {% endif %}
        <br>
        <br>
        <a href="{% url 'recipes:list' %}">
            <button type="button" class="center back-button">Back</button>
        </a>
    </body>
</html>