<!DOCTYPE html>
<html>
    <head>
        <style>
            .center {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            .container {
                background-color: #eee7dd;
            }
            .button {
                background-color: #844734;
                color: #eee7dd;
            }
        </style>
    </head>
    <body class="container">
        <h1 style="text-align: center;">Login</h1>
        <br>
        <br>

        {% if error_message %}
            {{error_message}}
        {% endif %}

        <form action="" method="POST">
            {% csrf_token %}
            {{form}}

            <button type="submit" class="button">Login</button>
        </form>
    </body>
</html>